.DS_Store
project/frontend/node_modules/*
project/frontend/public/*
/dist
project/project/*
project/db.sqlite3
project/manage.py
project/requirements.txt
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
